<div class="list-container">
  <%= form_for :selected_pairs do |f| %>
    <div id="drink_lists">
      <%=  @drinks.each do |val| %>
        <%= f.radio_button("drinks", "option", val, :class => list-item) %>
      <% end %>
    </div>
    <div id="bread_list">
      <%=  @breads.each do |val| %>
        <%= f.radio_button("breads", "option", val, :class => list-item) %>
      <% end %>
    </div>
    <%= f.submit_tag("Find my Pairing!", :id => "submit_button") %>
  <% end %>
</div>
