<div id="main">
    <%= link_to '<-- Home', site_info_home_path, :style => "text-decoration: underline; color: black; font-weight: bold; font-family: sans-serif;" %>
    
    <div class="center">
    <%= image_tag("logo2.png", :alt => "logo", :size => "150x150", :style => "display: inline;") %>
    </div>
    <h1>Create a Pairing</h1>

    <%= form_for @paircreate do |f| %>
      <div class="hidden_fields">
        <%= f.hidden_field(:drink, :value => params[:drink]) %>
        <%= f.hidden_field(:bread, :value => params[:bread]) %>
      </div>
      <div class="text_field">
        <%= f.label :desc %><br>
        <%= f.text_area :desc %>
      </div>
      <div id="submission">
        <%= f.submit %>
      </div>

    <% end %>

</div>
